@model string;

<div class="text-center">
    <h4 class="p-5">Add a New Contact</h4>
    @using (Html.BeginForm("Add", "ContactNames", FormMethod.Post))
    {
        <input placeholder="New Contact" name="newContact" />
        <button type="submit">Add</button>
    }
</div>