@model string
<div class="text-center">
    <h4 class="p-5">Contact Details</h4>

    @using (Html.BeginForm("Delete", "ContactNames", FormMethod.Post))
    {
        @Html.EditorFor(contact => contact, new { htmlAttributes = new { name="contact"}})
        <button type="submit">Delete</button>
    }
</div>