@model List<string>;
<div class="container text-center">

    <h4 class="p-5">Contact List</h4>

    <table class="table">
        @foreach (var contact in @Model)
        {
            <tr>
                <td>@contact</td>
                <td>
                <td> @Html.ActionLink("Details", "Details", new {contact = contact},null)</td>
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Add a New Contact", "Add", null, null)
</div>
